Source: wasta-core-xenial
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-core-xenial

Package: wasta-core-xenial
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: ubuntu-wallpapers-wily, wasta-backup, wasta-menus, wasta-offline, wasta-remastersys, wasta-resources-core, wasta-vertex, wasta-vertex-ubuntu
Description: Wasta-Linux 16.04 Core
 Wasta-Linux core system setup package for Ubuntu 16.04 'xenial'
 .
 This package should be installed on any machine running Wasta-Linux 16.04
